<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="DBConnection"
			 connectionString="Data Source=LENOVO-MIANO\SQLEXPRESS;Initial Catalog=HiTechDB;User ID=sa;Password=0123"/>
	</connectionStrings>
</configuration>